<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <!-- Library css-->
    <link href="~/assets/css/components.css" rel="stylesheet" />
    <link href="~/assets/css/layout.css" rel="stylesheet" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" />
    <link href="~/assets/font/font-icon/font-awesome-4.4.0/css/font-awesome.css" rel="stylesheet" />

    <link href="~/assets/font/font-icon/font-svg/style.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/assets/libs/bootstrap-3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/animate/animate.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/owl-carousel-2.0/assets/owl.carousel.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/selectbox/css/jquery.selectbox.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/range-slider/jquery.nstSlider.min.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/datetimepicker/css/bootstrap-datetimepicker.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/fancybox/css/jquery.fancybox.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/fancybox/css/jquery.fancybox-buttons.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/slick/slick.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/slick/slick-theme.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/select2/select2.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- style css-->
    <link type="text/css" rel="stylesheet" href="~/assets/css/layout.css">
    <link type="text/css" rel="stylesheet" href="~/assets/css/components.css">
    <link type="text/css" rel="stylesheet" href="~/assets/css/responsive.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>

    <header>
        <div class="bg-white">
            <div class="header-topbar">
                <div class="container">
                    <ul class="topbar-left list-unstyled pull-left">
                        <li>
                            <a href="javascript:void(0)" class="language"><i class="topbar-icon fa fa-globe"></i><span>English</span><i class="topbar-icon icons-dropdown fa fa-angle-down"></i></a>
                            <ul class="dropdown-language list-unstyled hide">
                                <li><a href="#">Russian</a></li>
                                <li><a href="#">Armenian</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="hotline"><i class="topbar-icon fa fa-phone"></i><span>+374 77 77 77 77 </span></a></li>
                        <li><a href="#" class="email"><i class="topbar-icon fa fa-map-marker"></i><span>contactus@beme.com</span></a></li>
                    </ul>

                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) |
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                            </div>
                        }
                    }



                </div>
            </div>
            <div class="header-main header-style2">
                <div class="container">
                    <div class="header-main-wrapper">
                        <div class="navbar-header">
                            <div class="logo logo-black"><a href="@Url.Action("Index","Home")" class="header-logo"><img src="~/assets/images/43131634_584940935273850_2505987639098736640_n.png" /></a></div>
                            <button type="button" data-toggle="collapse" data-target=".navigation" class="navbar-toggle btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class=" body-content">
        @RenderBody()
        <hr />

    </div>

    <!--.body-2.loading<div class="dots-loader"></div>--><!-- JAVASCRIPT LIBS-->
    <script src="~/assets/libs/jquery/jquery-2.1.4.min.js"></script>
    <script src="~/assets/libs/detect/browser.js"></script>
    <script src="~/assets/libs/moment/js/moment.min.js"></script>
    <script src="~/assets/libs/bootstrap-3.3.6/js/bootstrap.min.js"></script>
    <script src="~/assets/libs/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/libs/smooth-scroll/jquery-smoothscroll.js"></script>
    <script src="~/assets/libs/owl-carousel-2.0/owl.carousel.min.js"></script>
    <script src="~/assets/libs/fancybox/js/jquery.fancybox.js"></script>
    <script src="~/assets/libs/fancybox/js/jquery.fancybox-buttons.js"></script>
    <script src="~/assets/libs/appear/jquery.appear.js"></script>
    <script src="~/assets/libs/count-to/jquery.countTo.js"></script>
    <script src="~/assets/libs/wow-js/wow.min.js"></script>
    <script src="~/assets/libs/selectbox/js/jquery.selectbox-0.2.min.js"></script>
    <script src="~/assets/libs/select2/select2.min.js"></script>
    <script src="~/assets/libs/range-slider/jquery.nstSlider.min.js"></script>
    <script src="~/assets/libs/parallax/jquery.data-parallax.min.js"></script>
    <script src="~/assets/libs/slick/slick.min.js"></script>
    <!-- MAIN JS-->
    <script src="~/assets/js/main.js"></script>
    <!-- LOADING SCRIPTS FOR PAGE-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
