<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <!-- Library css-->
    <link href="~/assets/css/components.css" rel="stylesheet" />
    <link href="~/assets/css/layout.css" rel="stylesheet" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" />

    <link type="text/css" rel="stylesheet" href="~/assets/libs/bootstrap-3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/animate/animate.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/owl-carousel-2.0/assets/owl.carousel.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/selectbox/css/jquery.selectbox.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/range-slider/jquery.nstSlider.min.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/datetimepicker/css/bootstrap-datetimepicker.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/fancybox/css/jquery.fancybox.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/fancybox/css/jquery.fancybox-buttons.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/slick/slick.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/slick/slick-theme.css">
    <link type="text/css" rel="stylesheet" href="~/assets/libs/select2/select2.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- style css-->
    <link type="text/css" rel="stylesheet" href="~/assets/css/layout.css">
    <link type="text/css" rel="stylesheet" href="~/assets/css/components.css">
    <link type="text/css" rel="stylesheet" href="~/assets/css/responsive.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>

    <header>
        <div class="bg-white">
            <div class="header-topbar">
                <div class="container">
                    <ul class="topbar-left list-unstyled pull-left">
                        <li>
                            <a href="javascript:void(0)" class="language"><i class="topbar-icon fa fa-globe"></i><span>English</span><i class="topbar-icon icons-dropdown fa fa-angle-down"></i></a>
                            <ul class="dropdown-language list-unstyled hide">
                                <li><a href="#">Vietnam</a></li>
                                <li><a href="#">Japan</a></li>
                                <li><a href="#">Korea</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="hotline"><i class="topbar-icon fa fa-phone"></i><span>+84 909 015 345</span></a></li>
                        <li><a href="#" class="email"><i class="topbar-icon fa fa-map-marker"></i><span>contactus@sunhouse.com</span></a></li>
                    </ul>
                   
                </div>
            </div>
            <div class="header-main header-style2">
                <div class="container">
                    <div class="header-main-wrapper">
                        <div class="navbar-header">
                            <div class="logo logo-black"><a href="index.html" class="header-logo"><img src="~/assets/images/43131634_584940935273850_2505987639098736640_n.png" /></a></div>
                            <div class="logo logo-white"><a href="index.html" class="header-logo"><img src="~/assets/images/logo-2.png" alt="" /></a></div>
                            <button type="button" data-toggle="collapse" data-target=".navigation" class="navbar-toggle btn-navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        </div>
                        <nav class="navigation collapse navbar-collapse">
                            <ul class="nav-links nav navbar-nav">
                                <li class="dropdown active">
                                    <a href="@Url.Action("Index")" class="main-menu">Home<span class="fa fa-angle-down icons-dropdown"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-1">
                                        <li><a href="@Url.Action("Index")" class="link-page">Home page default</a></li>

                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="javascript:void(0)" class="main-menu">agents<span class="fa fa-angle-down icons-dropdown"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-1">
                                        <li><a href="agent-list.html" class="link-page">agent list</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="javascript:void(0)" class="main-menu">page<span class="fa fa-angle-down icons-dropdown"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-1">
                                        <li><a href="service.html" class="link-page">services</a></li>
                                        <li><a href="gallery.html" class="link-page">gallery</a></li>
                                        <li><a href="about-us.html" class="link-page">about us</a></li>
                                        <li><a href="pricing.html" class="link-page">Pricing</a></li>
                                        <li><a href="sign-up.html" class="link-page">sign in</a></li>
                                        <li><a href="register.html" class="link-page">Register</a></li>
                                        <li><a href="coming-soon.html" class="link-page">coming soon</a></li>
                                        <li><a href="faq.html" class="link-page">FAQ</a></li>
                                        <li><a href="404.html" class="link-page">page 404</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html" class="main-menu">contact</a></li>
                                <li class="navbar-right" style="left:230px">

                                    @Html.Partial("_LoginPartial")
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class=" body-content">
        @RenderBody()
        <hr />

    </div>

    <!--.body-2.loading<div class="dots-loader"></div>--><!-- JAVASCRIPT LIBS-->
    <script src="~/assets/libs/jquery/jquery-2.1.4.min.js"></script>
    <script src="~/assets/libs/detect/browser.js"></script>
    <script src="~/assets/libs/moment/js/moment.min.js"></script>
    <script src="~/assets/libs/bootstrap-3.3.6/js/bootstrap.min.js"></script>
    <script src="~/assets/libs/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/libs/smooth-scroll/jquery-smoothscroll.js"></script>
    <script src="~/assets/libs/owl-carousel-2.0/owl.carousel.min.js"></script>
    <script src="~/assets/libs/fancybox/js/jquery.fancybox.js"></script>
    <script src="~/assets/libs/fancybox/js/jquery.fancybox-buttons.js"></script>
    <script src="~/assets/libs/appear/jquery.appear.js"></script>
    <script src="~/assets/libs/count-to/jquery.countTo.js"></script>
    <script src="~/assets/libs/wow-js/wow.min.js"></script>
    <script src="~/assets/libs/selectbox/js/jquery.selectbox-0.2.min.js"></script>
    <script src="~/assets/libs/select2/select2.min.js"></script>
    <script src="~/assets/libs/range-slider/jquery.nstSlider.min.js"></script>
    <script src="~/assets/libs/parallax/jquery.data-parallax.min.js"></script>
    <script src="~/assets/libs/slick/slick.min.js"></script>
    <!-- MAIN JS-->
    <script src="~/assets/js/main.js"></script>
    <!-- LOADING SCRIPTS FOR PAGE-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
