<div class="section">
    <div class="our-service padding-top padding-bottom">
        <div class="container">
            <div class="our-service-wrapper">
                <div class="sunhouse-title">
                    <h2 class="main-title">our service</h2>

                </div>
                <div class="row">
                    <div class="our-service-content">
                        <div class="col-md-4">
                            <div  class="our-service-items wow fadeInUp">
                                <div class=""><i class="fas fa-user-tie" style="font-size:100px"><a href="@Url.Action("GetJobList",new {@type = 1 })"></a></i></div>
                                <p class="name">Driver @(ViewBag.IsParent ? "Service" : "Job" )</p>

                                <p class="text">Say goodbye to rigid processes and inflated costs. Enjoy newfound speed, flexibility, safety and cost savings.</p>
                                <a href="@Url.Action("GetJobList",new {@IsParent = ViewBag.IsParent,@type =  1})" class="btn-readmore">read more</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div data-wow-delay="0.45s" data-wow-duration="1s" class="our-service-items wow fadeInUp">
                                <div class=""><i class="fas fa-child" style="font-size:100px"><a href="@Url.Action("GetJobList",new {@type = 2 })"></a></i></div>
                                <p class="name">Babysitter @(ViewBag.IsParent ? "Service" : "Job" )</p>

                                <p class="text">Babysitters Registry was created to give parents one place to search many of the leading caregiver services.</p>
                                <a href="@Url.Action("GetJobList",new {@IsParent = ViewBag.IsParent,@type =  2})" class="btn-readmore">read more</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div data-wow-delay="0.7s" data-wow-duration="1s" class="our-service-items wow fadeInUp">
                                <div class=""><i class="fas fa-book" style="font-size:100px"><a href="@Url.Action("GetJobList",new {@type = 3 })"></a></i></div>
                                <p class="name">Tutor @(ViewBag.IsParent ? "Service" : "Job" )</p>

                                <p class="text">Tutors is available to families through our local neighborhood mapping technology.</p>
                                <a href="@Url.Action("GetJobList",new {@IsParent = ViewBag.IsParent,@type =  3})" class="btn-readmore">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>