
@using BIMI.Web.Models
@model List<JobModel>
<div id="wrapper-content">
    <!-- PAGE WRAPPER-->
    <div id="page-wrapper">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <!-- CONTENT-->
            <div class="content">
                <div class="section page-title property-view bg-overlay">
                    <div class="container">
                        <div class="page-title-wrapper">
                            <h2 class="captions">list @(ViewBag.IsParent ? "Workers" : "Jobs")</h2>
                            <ol class="breadcrumb"></ol>
                        </div>
                    </div>
                </div>
                <div class="section property-view">
                    <div class="container">
                        <div class="property-wrapper padding-top padding-bottom">
                            <div class="row">
                                <div class="col-md-12 property-content">
                                    <div class="row">
                                        @foreach (var item in Model)
                                        {
                                            <div class="property-item col-md-4 col-xs-6">
                                                <div class="sunhouse-item">
                                                    <a href="#" class="wrapper-image"><img src="~/Files/UserImages/@item.Image" alt="" class="img-responsive layout-1" /><img src="assets/images/houses/house-7.jpg" alt="" class="img-responsive layout-2" /></a>
                                                    <div class="wrapper-content">
                                                        <div class="about-house">
                                                            <a href="#" class="title">@item.FirstName @item.LastName</a>
                                                            <p class="text">@item.Description</p>
                                                        </div>
                                                        <div class="more-info-house grd-item">
                                                            <div class="place-house"><i class="fa fa-map-marker"></i><a href="#">568 E 1st Ave, New Jersey</a></div>
                                                            <div class="price">$ @item.MoneyRange</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BUTTON BACK TO TOP-->
    <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
</div>