@using BIMI.Web.Models
@model MainPageViewModel
<body>
    <!-- WRAPPER-->
    <div id="wrapper-content">
        <!-- PAGE WRAPPER-->
        <div id="page-wrapper">
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <!-- CONTENT-->
                <div class="content">
                    <div class="section">
                        <div class="banner-02 bg-overlay banner-full-screen">
                            <div class="banner-02-wrapper">
                                <div class="container">
                                    <div class="wrapper-title">
                                        <h2 class="title">Trusted by families.Loved by caregivers.</h2>
                                        <h4 class="sub-title">BE.ME. & ENjoy your life</h4>
                                    </div>
                                    <div class="group-button">

                                        <a href="@Url.Action("GetParentJob")" class="btn btn-blue">Find care</a>
                                        <a href="@Url.Action("GetWorkertJob")" class="btn btn-blue">Find jobs</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section">
                            <div class="newest-properties padding-top padding-bottom">
                                <div class="container">
                                    <div class="newest-properties-wrapper">
                                        <div class="sunhouse-title">
                                            <div class="icon-image"><img src="assets/images/logo-title-1.png" alt="" class="img-responsive" /><!--.icon-title--><!--    i.icon-church--></div>
                                            <h2 class="main-title">Newest Properties</h2>

                                            <p class="sub-title">Haven't you heard about the recession: Topten reasons why you should properties</p>
                                        </div>

                                        <div class="row">
                                            <div class="newest-properties-content">
                                                @foreach (var item in Model.Jobs)
                                                {
                                                    <div class="col-md-4 col-xs-6">
                                                        <div class="sunhouse-item">
                                                            <a href="property-detail.html" class="wrapper-image"><img src="assets/images/houses/house-1.jpg" alt="" class="img-responsive layout-1" /><img src="assets/images/houses/house-9.jpg" alt="" class="img-responsive layout-2" /></a>

                                                            <div class="wrapper-content">
                                                                <div class="about-house">
                                                                    <a href="search-properties.html" class="title">@item.UserId</a>

                                                                    <p class="text">@item.Description</p>
                                                                </div>
                                                                <div class="more-info-house">
                                                                    <div class="price">$ @item.MoneyRange</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section">
                            <div class="our-service padding-top padding-bottom">
                                <div class="container">
                                    <div class="our-service-wrapper">
                                        <div class="sunhouse-title">
                                            <div class="icon-image"><img src="assets/images/logo-title-1.png" alt="" class="img-responsive" /><!--.icon-title--><!--   i.icon-mail_box--></div>
                                            <h2 class="main-title">our service</h2>

                                            <p class="sub-title">Psum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                        </div>
                                        <div class="row">
                                            <div class="our-service-content">
                                                <div class="col-md-3">
                                                    <div data-wow-delay="0.2s" data-wow-duration="1s" class="our-service-items wow fadeInUp">
                                                        <div class="icon-wrapper"><i class="icon-our-service icon-house_sell"></i></div>
                                                        <p class="name">Sale Service</p>

                                                        <p class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p><a href="service.html" class="btn-readmore">read more</a>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div data-wow-delay="0.45s" data-wow-duration="1s" class="our-service-items wow fadeInUp">
                                                        <div class="icon-wrapper"><i class="icon-our-service icon-rent"></i></div>
                                                        <p class="name">Renting Service</p>

                                                        <p class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p><a href="service.html" class="btn-readmore">read more</a>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div data-wow-delay="0.7s" data-wow-duration="1s" class="our-service-items wow fadeInUp">
                                                        <div class="icon-wrapper"><i class="icon-our-service icon-house_2"></i></div>
                                                        <p class="name">Property Management</p>

                                                        <p class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p><a href="service.html" class="btn-readmore">read more</a>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div data-wow-delay="0.95s" data-wow-duration="1s" class="our-service-items wow fadeInUp">
                                                        <div class="icon-wrapper"><i class="icon-our-service icon-brush"></i></div>
                                                        <p class="name">Free Market Analysis</p>

                                                        <p class="text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p><a href="service.html" class="btn-readmore">read more</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section">
                            <div class="our-agents padding-bottom padding-top">
                                <div class="container">
                                    <div class="our-agents-wrapper">
                                        <div class="sunhouse-title">
                                            <div class="icon-image"><img src="assets/images/logo-title-1.png" alt="" class="img-responsive" /><!--.icon-title--><!--   i.icon-house_window--></div>
                                            <h2 class="main-title">Our Agents</h2>

                                            <p class="sub-title">One day however a small line of blind text by the name of Lorem Ipsum decided to</p>
                                        </div>
                                        <div class="our-agents-content">
                                            <div class="our-agent-item">
                                                <div class="item-wrapper">
                                                    <div class="our-agent-avatar"><img src="assets/images/avatars/avatar-3.png" alt="" class="img-responsive" /></div>
                                                    <div class="our-agent-socials"><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a><a href="#" class="link google"><i class="fa fa-google-plus"></i></a><a href="#" class="link instagram"><i class="fa fa-instagram"></i></a></div>
                                                </div>
                                                <div class="our-agent-info">
                                                    <a href="agent-single.html" class="name">John Anderson</a>

                                                    <p class="job">Director</p>
                                                </div>
                                            </div>
                                            <div class="our-agent-item">
                                                <div class="item-wrapper">
                                                    <div class="our-agent-avatar"><img src="assets/images/avatars/avatar-4.png" alt="" class="img-responsive" /></div>
                                                    <div class="our-agent-socials"><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a><a href="#" class="link google"><i class="fa fa-google-plus"></i></a><a href="#" class="link instagram"><i class="fa fa-instagram"></i></a></div>
                                                </div>
                                                <div class="our-agent-info">
                                                    <a href="agent-single.html" class="name">Robert Lee</a>

                                                    <p class="job">Expert Agent</p>
                                                </div>
                                            </div>
                                            <div class="our-agent-item">
                                                <div class="item-wrapper">
                                                    <div class="our-agent-avatar"><img src="assets/images/avatars/avatar-5.png" alt="" class="img-responsive" /></div>
                                                    <div class="our-agent-socials"><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a><a href="#" class="link google"><i class="fa fa-google-plus"></i></a><a href="#" class="link instagram"><i class="fa fa-instagram"></i></a></div>
                                                </div>
                                                <div class="our-agent-info">
                                                    <a href="agent-single.html" class="name">Adam Smith</a>

                                                    <p class="job">Expert Agent</p>
                                                </div>
                                            </div>
                                            <div class="our-agent-item">
                                                <div class="item-wrapper">
                                                    <div class="our-agent-avatar"><img src="assets/images/avatars/avatar-6.png" alt="" class="img-responsive" /></div>
                                                    <div class="our-agent-socials"><a href="#" class="link facebook"><i class="fa fa-facebook"></i></a><a href="#" class="link twitter"><i class="fa fa-twitter"></i></a><a href="#" class="link google"><i class="fa fa-google-plus"></i></a><a href="#" class="link instagram"><i class="fa fa-instagram"></i></a></div>
                                                </div>
                                                <div class="our-agent-info">
                                                    <a href="agent-single.html" class="name">Leonard Gonzalez</a>

                                                    <p class="job">Expert Agent</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section">
                            <div class="our-clients-said padding-top padding-bottom">
                                <div class="container">
                                    <div class="our-clients-said-wrapper">
                                        <div class="sunhouse-title">
                                            <div class="icon-image"><img src="assets/images/logo-title-1.png" alt="" class="img-responsive" /><!--.icon-title--><!--   i.icon-warehouse--></div>
                                            <h2 class="main-title">our clients said</h2>

                                            <p class="sub-title">One day however a small line of blind text by the name of Lorem Ipsum decided</p>
                                        </div>
                                        <div class="our-clients-said-content">
                                            <div class="items">
                                                <p class="saying">It is a long established fact that a reader will be distracted by the readable con tent of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>

                                                <div class="info-client">
                                                    <div class="avatar"><img src="assets/images/avatars/avatar-1.jpg" alt="" class="img-responsive" /></div>
                                                    <div class="more-info">
                                                        <p class="name">Howard K. Stern</p>

                                                        <p class="job"> Director</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="items">
                                                <p class="saying">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. The point of using Lorem Ipsum is that distribution of letters.</p>

                                                <div class="info-client">
                                                    <div class="avatar"><img src="assets/images/avatars/avatar-2.jpg" alt="" class="img-responsive" /></div>
                                                    <div class="more-info">
                                                        <p class="name">Thomas More</p>

                                                        <p class="job"> Manager</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section">
                            <div class="contact-us">
                                <div class="container">
                                    <div data-parallax="{&quot;y&quot;:&quot;20%&quot;}" class="contact-us-scroll">
                                        <div class="contact-us-wrapper">
                                            <div class="contact-us-content">
                                                <h2 class="title">contact</h2>

                                                <p class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>

                                                <div class="info-list">
                                                    <ul class="list-unstyled">
                                                        <li class="info-line"><i class="info-icon fa fa-map-marker"></i><a href="#" class="info-text">1390 Somerset Drive, Raleigh, NC 27603</a></li>
                                                        <li class="info-line"><i class="info-icon fa fa-phone"></i><a href="#" class="info-text">910-740-0626</a></li>
                                                        <li class="info-line"><i class="info-icon fa fa-fax"></i><a href="#" class="info-text">910-740-0626</a></li>
                                                        <li class="info-line"><i class="info-icon fa fa-envelope-o"></i><a href="#" class="info-text">domain@sunhouse.com</a></li>
                                                        <li class="info-line"><i class="info-icon fa fa-skype"></i><a href="#" class="info-text">domain.sunhouse</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="new-letter-wrapper">
                                            <div class="new-letter-content">
                                                <h4 class="title">NEWSLETTER</h4>

                                                <p class="text">Subcribe to receive new properties with good price.</p>

                                                <form><input type="text" placeholder="Your Name" class="contact-form" /><input type="email" placeholder="Your Email" class="contact-form" /><textarea placeholder="Your Message" class="contact-form"></textarea><a href="#" class="btn btn-transparent white">send message</a></form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BUTTON BACK TO TOP-->
            <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
        </div>

        <!--.body-2.loading<div class="dots-loader"></div>--><!-- JAVASCRIPT LIBS-->
        <script src="assets/libs/jquery/jquery-2.1.4.min.js"></script>
        <script src="assets/libs/detect/browser.js"></script>
        <script src="assets/libs/moment/js/moment.min.js"></script>
        <script src="assets/libs/bootstrap-3.3.6/js/bootstrap.min.js"></script>
        <script src="assets/libs/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <script src="assets/libs/smooth-scroll/jquery-smoothscroll.js"></script>
        <script src="assets/libs/owl-carousel-2.0/owl.carousel.min.js"></script>
        <script src="assets/libs/fancybox/js/jquery.fancybox.js"></script>
        <script src="assets/libs/fancybox/js/jquery.fancybox-buttons.js"></script>
        <script src="assets/libs/appear/jquery.appear.js"></script>
        <script src="assets/libs/count-to/jquery.countTo.js"></script>
        <script src="assets/libs/wow-js/wow.min.js"></script>
        <script src="assets/libs/selectbox/js/jquery.selectbox-0.2.min.js"></script>
        <script src="assets/libs/select2/select2.min.js"></script>
        <script src="assets/libs/range-slider/jquery.nstSlider.min.js"></script>
        <script src="assets/libs/parallax/jquery.data-parallax.min.js"></script>
        <script src="assets/libs/slick/slick.min.js"></script>
        <!-- MAIN JS-->
        <script src="assets/js/main.js"></script>
        <!-- LOADING SCRIPTS FOR PAGE-->
    </div>
</body>
